@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background: #000d36;
    color: #7b7de6;
}

#canvas {
    background: #7b7de6;
    margin-left: 50%;
    margin-top: 1%;
    transform: translateX(-50%);
}