@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background: #000d36;
    color: #7b7de6;
}

#canvas {
    background: #7b7de6;
    margin-left: 50%;
    margin-top: 1%;
    transform: translateX(-50%);
}






.button-64 {
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: transform 0.3s ease;
    /* 平滑過渡效果 */
}

/* .pause-active, */
.button-64:hover {
    transform: translateY(-5px);
    /* 在 hover 時彈跳 */
    box-shadow: rgba(151, 65, 252, 0.4) 0 20px 40px -10px;
    /* 調整陰影效果 */
}


/* .pause-active, */
.button-64:active {
    outline: 0;
    transform: translateY(0);
    /* 在 active 時回到原位 */
}


.button-64 span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}


@media (min-width: 768px) {
    .button-64 {
        font-size: 24px;
        min-width: 196px;
    }
}

.button-container {
    display: flex;
    /* 使用 flexbox */
    flex-direction: column;
    /* 垂直排列 */
    gap: 10px;
    /* 設置按鈕之間的間距 */
}